.add-estate-popup {
  width: 100%;
  height: 100%;
  display: flex;
  visibility: hidden;
  opacity: 0;
  /*visibility: visible;*/
  /*opacity: 1;*/
  transition: visibility 0.4s, opacity 0.5s linear;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.add-estate-popup_active {
  visibility: visible;
  opacity: 1;
}

.add-estate-popup__button-save {
  width: 358px;
  height: 50px;
  margin: 48px auto 37px;
  align-self: center;
  padding: 0;
  background-color: #46237a;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.add-estate-popup__button-save:hover {
  opacity: 80%;
}

.add-estate-popup__button-close {
  height: 32px;
  width: 32px;
  padding: 0;
  background-image: url(../../../images/button/buttonClose.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: transparent;*/
  background-color: #46237a;
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  cursor: pointer;
}

.add-estate-popup__button-close:hover {
  opacity: 60%;
}

.add-estate-popup__container {
  position: relative;
  width: 90%;
  height: 85vh;
  padding: 40px;
  /*max-width: 430px;*/
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px rgba(0,0,0,.15);
}

.add-estate-popup__title {
  color: #46237a;
  margin: 0 0 40px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.add-estate-popup__edit {
  display: flex;
  flex-direction: column;
}

.add-estate-popup__input {
  width: 25%;
  max-width: 358px;
  height: 30px;
  border-radius: 1%;
  /*border: 1px solid rgb(0, 0, 0, 0.2);*/
  border: 1px solid rgba(70, 35, 122, .7);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  transition: all 0.3s ease;

}
.width100 {
  width: 100%;
}
.width30 {
  width: 30%;
}


.add-estate-popup__block-input {
  margin-bottom: 20px;
  position: relative;
  /*position:inherit;*/
}

.add-estate-popup__input:focus,
.add-estate-popup__input:valid{
  border-color: #46237a;
  background-color: #fff;
}
.add-estate-popup__input:focus ~ .add-estate-popup__label,
.add-estate-popup__input:valid ~ .add-estate-popup__label{
  top: 0;
  left: 12px;
  /*display: 14px;*/
  color: #46237a;
  background: #fff;
}
.add-estate-popup__label {
  position: absolute;
  left: 18px;
  top: 50%;
  color: #636c72;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.4s ease;
}

.add-estate-popup__block-title{
  display: flex;
  flex-direction: column;
  /*margin-right: 40px;*/
}

.add-estate-popup__block-photo{
  margin-bottom: 30px;
}

.add-estate-popup__textarea {
  width: 100%;
  height: 60px;
}

.add-estate-popup__block-properties{
  margin-bottom: 30px;
  top: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-estate-popup__block-properties_column{
  display: flex;
  flex-direction: column;
}

.add-estate-popup__block-info{
}
