.future-card__swiper {
  position: relative;
  width: 90%;
  height: 500px;
  margin: 30px auto;
  color: #46237a;
}
/*@media screen and (max-width: 600px) {*/
/*  .future-card__slide {*/
/*    width: 60%;*/
/*  }*/
/*}*/
