.promo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.promo__shadow {
  background-color: rgba(70, 35, 122, 0.2);
  /*background-color: rgba(0, 0, 0, 0.3);*/
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

.promo__slider {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  /*object-fit: cover;*/
  background-image: url(../../../images/slide-one.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
}

.promo__info {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 40px;
  color: white;
  z-index: 2;
}

.promo__info-title {
  text-shadow: 0 0 10px #000;
  font-size: 40px;
}

.promo__info-text {
  text-shadow: 0 0 10px #000;
  font-size: 24px;
}
.promo__contact-us{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 70px 40px 0;
}
@media screen and (max-width: 1280px) {
  .promo__info {
    margin-top: 20px;
    width: 60%;
  }
  .promo__info-title {
    width: 95%;
    font-size: 26px;
  }
  .promo__info-text {
    width: 90%;
    font-size: 18px;
  }
}

@media screen and (max-width: 920px) {
  .promo {
    padding-top: 14%;
    flex-direction: column;
    min-height: 100vh;
  }
  .promo__slider {
    margin: 0;
    width: 100%;
    background-attachment: scroll;
  }
  .promo__info {
    margin-top: 20px;
    margin-left: 0;
    align-items: center;
  }
  .promo__info-title {
    width: 95%;
    margin: 0;
    text-align: center;
    font-size: 26px;
  }
  .promo__info-text {
    width: 90%;
    text-align: center;
    font-size: 18px;
  }
}


@media screen and (max-width: 700px) {
  .promo {
    padding-top: 120px;
    flex-direction: column;
    min-height: 100vh;
  }
  .promo__slider {
    margin: 0;
    width: 100%;
    background-attachment: scroll;
  }
  .promo__info {
    margin-top: 20px;
    margin-left: 0;
    align-items: center;
  }
  .promo__info-title {
    width: 95%;
    margin: 0;
    text-align: center;
    font-size: 26px;
  }
  .promo__info-text {
    width: 90%;
    text-align: center;
    font-size: 18px;
  }
}
