@import url(../src/vendor/normalize.css);
@import url(../src/vendor/fonts/Inter/inter.css);
html {
  margin: 0;
}

body {
  margin: 0;
}

.root {
  background-color: #ffffff;
  width: 100%;
  margin: 0;

}
