.profile__button-type {
  width: 25%;
  height: 50px;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  cursor: pointer;
  background-repeat: no-repeat;
}

.profile__button-type:hover {
  border-bottom: 3px solid red;
}

@media screen and (max-width: 950px) {
  .profile__button-type {
    margin: 35px auto 0;
    width: 100%;
    align-items: center;
    background-size: 16px 16px;
  }
}
