.promo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  position: relative;
  z-index: 1;
}

.promo__shadow {
  background-color: rgba(0,0,0, .3);
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

.promo__slider {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(../../images/slide-one.jpg);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  /*z-index: -1;*/
}
@media screen and (max-width: 700px) {
  .promo__slider {
    margin: 0;
    width: 100%;
  }
}

.promo__info {
  margin: 0 0 0 40px;
  color: white;
  z-index: 2;
}

.promo__info-title {
  text-shadow: 0 0 10px #000;
  font-size: 40px;
}

.promo__info-text {
  text-shadow: 0 0 10px #000;
  font-size: 24px;
}


.promo__info-button {
  text-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  font-size: 24px;
  text-decoration: none;
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.005);
  padding: 5px 15px;
  border: 1px white solid;
  border-radius: 15px;
  transition: all .2s ease-in;
  cursor: pointer;
}

.promo__info-button:hover {
  color: rgba(255,255,255,0.6);
  background-color: rgba(0,0,0,.1);
}
