.estate-description{
  /*position: relative;*/
  width: 85%;
  margin: 150px auto 30px;
}

.estate-description__favorite{
  width: 75%;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.estate-description__sidebar{
  /*position: fixed;*/
  /*top: 140px;*/
  right: 7.5%;
  /*right: 20px;*/
  width: 20%;
  display: flex;
  flex-direction: column;
}

.estate-description__title{
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.estate-description__subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #767676;
  margin: 0;
}

.estate-description__price{
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  margin: 0;
}

.estate-description__button {
  height: 50px;
  width: 100%;
  margin: 48px auto 16px;
  position: relative;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding: 0;
  background: #46237A;
  color: white;
  border: 0 solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.estate-description__button:hover {
  background-color: rgb(107, 65, 168);
}

.estate-description__back-button{
  position: absolute;
  top: 180px;
  left: 50px;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  border-top: 2px solid #000 !important;
  border-right: 2px solid #000 !important;
  transform: rotate(-135deg);
}

.estate-description__back-button_fixed{
  position: static;
  margin-left: 20px;
}

.estate-description__block_fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  align-content: center;
  align-items: center;
}
.estate-description__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

