.sell-estate{
  width: 90%;
  color: #46237a;
}

.sell-estate__column{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sell-estate__column_align-start{
  align-items: start;
}

.sell-estate__block{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sell-estate__title{
  margin: 80px 40px;
  text-align: center;
  font-size: 40px;
}

.sell-estate__subtitle{
  font-size: 25px;
  margin: 0 0 10px;
}

.sell-estate__list{
  margin: 0;
}

.sell-estate__list-item{
  margin: 2px 0 2px;
  font-size: 18px;
  color: #404040;
}

.sell-estate__social-image{
  font-size: 25px;
  padding: 10px;
  border: 1px solid #46237a;
  border-radius: 5px;
  margin-right: 5px;
  transition: all ease-in 200ms;
}

.sell-estate__social-image:hover {
  scale: 1.1;
  color: #4e2093;
  border: 1px solid #4e2093;

}
.sell-estate__address{
  margin: 3px 0 10px;
  font-size: 18px;
  color: #404040;
  text-align: justify ;
}

.sell-estate__phone{
  letter-spacing: 2px;
  font-weight: 600;
  margin: 10px 0;
  font-size: 25px;
}

.margin-bottom{
  margin-bottom: 60px;
}
