.popup {
  width: 100%;
  height: 100%;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.5s linear;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_type_image-fullscreen {
  background-color: rgba(0, 0, 0, .9);
}
.popup__container-image-fullscreen {
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup__image {
  max-height: 75vh;
  max-width: 75vw;
  object-position: center top;
}

.popup__image-text {
  margin: 10px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: white;
}
.popup__button-close {
  height: 32px;
  width: 32px;
  padding: 0;
  background-image: url(../../../images/button/buttonClose.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: 60%;
}

@media screen and (max-width: 680px) {
  .popup__button-close {
    height: 20px;
    width: 20px;
    top: -36px;
    right: 0;
  }
}

.popup_active {
  visibility: visible;
  opacity: 1;
}
