
.wrapper {
  position: relative;
  width: 100%;
  /*height: 100%;*/
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.wrapper:hover {
  opacity: 0.9;
  transition: opacity .4s ease-in;
}

.slider {
  background-color: #ddd;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;

  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.wrapper > input {
  display: none;
}

.slides {
  position: absolute;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}


.wrapper .controls {
  margin: -50px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper label:after {
  border: 2px solid #ddd;
  box-shadow: 0 0 5px black;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  -moz-transition: background ease-in-out .5s;
  -o-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s;
}

.wrapper label:hover {
  background: #ddd;
}

.slide_button {
  background: #ddd;
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/*.wrapper label:hover,*/
/*#slide1:checked ~ .controls label:nth-of-type(1),*/
/*#slide2:checked ~ .controls label:nth-of-type(2),*/
/*#slide3:checked ~ .controls label:nth-of-type(3),*/
/*#slide4:checked ~ .controls label:nth-of-type(4),*/
/*#slide5:checked ~ .controls label:nth-of-type(5) {*/
/*  background: #ddd;*/
/*  opacity: 1;*/
/*  z-index: 1;*/
/*  -webkit-transform: scale(1);*/
/*  -moz-transform: scale(1);*/
/*  -o-transform: scale(1);*/
/*  transform: scale(1);*/
/*}*/
